body {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}

.switcher embed {
    display: block;
    margin: 10px;
}